.posts-layout-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #c5b0c352;
    border-radius: 10px;
    margin-top: 100px;
    padding: 20px;
    min-height: 90vh;

}
.posts-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}


.add-post-input {
    border: none;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.profile-layout-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 20px;
}
.post-card {
    min-width: 60%;
    width: 100%;
}

.card-info {
    margin: 10px;
}

.add-post-heading{
    font-size: 1.5em;
}
.ads-sections,.posts-content,.profile-layout-section{
    margin: 5px 0 5px 0;   
}