.profile-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-image{
    width: 100px;
    border-radius: 50%;
    border: 1px solid var(--main-bg-light-color);
}

.profile-name{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin: 15px;
}