.ad-title{
    font-size: 1em;
    font-weight: bold;
    text-align: start;
    margin: 6px;
    color: #c5b0c3;
}

.ads-sections{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
